{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero-section">
    <div class="container text-center">
        <h1 class="display-4 fw-bold mb-4">{{ title }}</h1>
        <p class="lead mb-5">{{ description }}</p>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <a href="{% url 'main:contact' %}" class="btn btn-outline-light btn-custom">Comenzar</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}

